@use 'variables';
@use 'mixins';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-size: variables.$size-paragraph;
   padding: 20px 15px; 
   margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: variables.$off-white;
  @include mixins.fontWeight;
} 

@media (min-width: 577px) {
  body {
    padding: 3rem 5rem;
  }
}