@use '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  
}

.nav {
  &__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 5px;
    text-align: left;
    & li {
      cursor: pointer;

      &:hover {
        color: variables.$soft-red;
      }
    }
  }
}

.menu-btn {
  display: none;
}


@media (max-width: 576px) {
  .nav {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 140px 15px 15px;
    width: 70%;
    overflow: hidden;
    font-weight: variables.$size-700;
    background-color: variables.$off-white;
    
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style-type: none;
      padding: 5px;
      text-align: left;
      
      & li {
        cursor: pointer;

        &:hover {
          color: variables.$soft-red;
        }
      }
    }
  }

  .menu-btn {
    display: block;
    z-index: 1000;
    cursor: pointer;
 
    & img {
      width: 40px;
     
    }
  }

  .pruebAnimation {
    animation: translateNav 0.5s ease-out;
  }

  @keyframes translateNav {
    from {
      transform: translate(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .display-none {
    display: none;
  }

  .bodyOpacity {
    background-color: rgba(0, 0, 26, 0.7);
    z-index: -1;
  }
}
