// Importar estilos globales
@import 'styles/_global.scss';

@media (min-width: 1000px) {
.flex-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;

  & .news {
    flex-shrink: 1;
  }
}
}